/* .App {
  text-align: center;
} */
/* #row {
	overflow-x: auto;
	flex-wrap: nowrap;
} */

/* .background {
  background-image: url("./img/theatre.jpg");
  background-size: cover;
} */




.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



/* .img {
  min-width: 800px !important;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .example
{
   
    max-height: 500px;
    
   
   
} */

/* .poster {
  max-width: 100%;
} */

/* img {
  max-height: 500px;
} */

/* .carousel {
display: flex;
justify-content: center;
} */

/* .media {
  display: flex;
  flex-direction: row;
  width: 200px;
  padding: 5px;
  margin: 5px 0;
  background-color: #282c34;
  position: relative;

} */


/* .example:hover {
 
  background-color: black;
} */
/* img {
  justify-content: left;

  min-height: 330px !important;
  margin-left: 5px !important;
  width: 200px;
} */
/* .img {
  width: 50%;
} */

/* .card { */
  /* text-align: left !important; */
  /* display: flex;
  flex: 1; */
/* } */

/* .card {
  width: 50%;
} */

/* .notdisplayed {
  display: none;
}

.displayed {
  display: block;  
} */

  
/* #sign{
  /* box-shadow: 10px 10px 10px 10px rgb(164, 227, 227);
  border-radius: 5px;
  border: 10px dotted #ffff7c;
  outline: 2px solid #000000; */


  /* background: 
  linear-gradient(90deg, #f7f790 80%, transparent 0) repeat-x,
  linear-gradient(90deg, #f7f790 80%, transparent 0) repeat-x,
  linear-gradient(0deg, #f7f790 80%, transparent 0) repeat-y,
  linear-gradient(0deg, #f7f790 80%, transparent 0) repeat-y;
background-size: 4px 5px, 4px 5px, 5px 4px, 5px 4px;
background-position: 0 0, 0 100%, 0 0, 100% 0;
animation: linearGradientMove .3s infinite linear;
background-color: black; */
  
 
#sign {
  position: relative;
  margin: auto;
  font-family: 'Limelight', cursive;

  line-height: 64px;
  text-align: center;
  color: #fff;
  /* font-size: 20px; */
  border: 20px solid rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px rgb(122, 126, 125);
  background: rgb(0, 0, 0);
  transition: all .3s;
  cursor: pointer;
  
  &:hover {
      filter: contrast(1.1);
  }
  
  &:active {
      filter: contrast(0.9);
  }
  
  &::before,
  &::after {
      content: "";
      position: absolute;
      top: -10px;
      left: -10px;
      right: -10px;
      bottom: -10px;
      border: 2px solid rgb(252, 241, 178);
      
      transition: all .5s;
      animation: clippath 3s infinite linear;
      border-radius: 10px;
  }
  
  &::after {
      animation: clippath 3s infinite -1.5s linear;
  }
}

@keyframes clippath {
  0%,
  100% {
      clip-path: inset(0 0 98% 0);
  }
  
  25% {
      clip-path: inset(0 98% 0 0);
  }
  50% {
      clip-path: inset(98% 0 0 0);
  }
  75% {
      clip-path: inset(0 0 0 98%);
  }
}

.bg::before {
  background: rgba(255, 215, 0, .5);
}

  /* position: absolute; */
  /* top: 200px;
  left: 200px; */
 
  /* display: inline-block;
  /* width: 200px; */



/* #banner
{
  animation: wordAnimation 2s linear infinite;
}
@keyframes wordAnimation {
  0% { opacity: 0; transform: scale(0); }
  50% { opacity: 1; transform: scale(1); }
  50% { opacity: 0; transform: scale(0); }
} */


 

form {
  border: none;
}
@media (max-width: 550px) {
  /* .media {
    width: 46%;
  } */


}

/* #banner {
  animation: FadeAnimation 4s ease-in .1s forwards;
}
@keyframes FadeAnimation {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
} */

#banner{
  /* display: flex; */
  text-align: center !important;
  /* align-items: center !important; */
  /* margin: auto;
  width: 50%; */
  border: 1px solid white;
  
  padding: 20px;
 
  font-size: 22px;
}
.lost {
  max-width: 150px;
  border: 1px solid black;
  word-wrap: break-word;
  background-color: #000000;
  border: none;

  /* padding: 16px 32px; */
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.6s;
  display: block;


  
}

.lost:hover{
  opacity: 1;
  overflow: visible; 
  white-space: normal;
  height:auto;  /* just added this line */
  
}

/* input {
  width: 400px;
} */

/* #coast {
  max-width: 150px;
  border: 1px solid black;
  word-wrap: break-word;
  background-color: #000000;
  border: none; */

  /* padding: 16px 32px; */
  /* text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.6s;
  display: block;

  
} */

/* #coast:hover{
  opacity: 1;
  overflow: visible; 
  white-space: normal;
  height:auto;  */
   /* just added this line */
  
/* } */